/* Fuerza fuente Roboto delgada y compacta */
body,
.navbar,
.navbar * {
  font-family: "Roboto", sans-serif !important;
  font-size: 13px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
  line-height: 1 !important;
  box-sizing: border-box;
}

/* Ajusta logo si tienes imagen */
.navbar-brand img {
  height: 28px !important;
}

/* Tamaño de los botones y cajas de búsqueda */
.form-control,
.btn {
  font-size: 13px !important;
  padding: 4px 8px !important;
  height: auto !important;
}
body {
  margin: 0;
  font-family: "poppins", sans-serif;
  margin-bottom: 0px;
  background-image: url("/imagenes/fondo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
