@{
    ViewData["Title"] = "Pago cancelado";
}

<h2>Pago cancelado</h2>
<p>Has cancelado el proceso de pago con PayPal.</p>
<a asp-controller="Catalogo" asp-action="Index" class="btn btn-warning">Volver al catálogo</a>
