@model Proyect_Snake_West.Models.Pago

<h2>Resumen de pago</h2>

<p><strong>Usuario:</strong> @Model.UserID</p>
<p><strong>Total a pagar:</strong> $@Model.MontoTotal</p>

<form asp-action="PayWithPaypal" asp-controller="Pago" method="post">
    <input type="hidden" name="monto" value="@Model.MontoTotal" />
    <button type="submit" class="btn btn-primary">Pagar con PayPal</button>
</form>
