@{
    Layout = "_Layout";
}


  <meta charset="utf-8" />

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
 





    <!-- Navigation -->


    
   

    <div class="espacio-vertical"></div>
    <h2 class="hola" style="font-family: 'Arial', sans-serif; font-weight: 10; font-size: 45px;     ; animation: moverTexto 10s linear infinite;">
        CONTACTENOS
    </h2>

    <div class="line4"></div>
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 40px; font-weight: 10; font-size: 20px; ">
        Servicio disponible de Lun - Vie: 9:00 AM a 9:00 PM y Sab: 10:00 AM a 6:00 PM
    </h2>

    <div class="espacio-extra"></div>
    <img src="/imagenes/wsap.jpg" class="card-img-top" alt="..." style="margin-left: 40px; width: 120px; height: auto;">
    
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; ">
        WHATSAPP:
    </h2>

    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; ">
        Añade +51 913 503 592 a la lista de contactos en tu smartphone y comunícate con nosotros.
    </h2>

    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; ">
        Si necesitas ayuda a través de WhatsApp, por favor comunícate con nosotros al número +51 913 503 592.
    </h2>

    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; ">
        Recuerda que adidas nunca iniciará la comunicación ni te buscará por este canal, solamente responderemos a tus mensajes.
    </h2>

    <div class="espacio-extra"></div>
    <img src="/imagenes/Facebook_log.png" class="card-img-top" alt="..." style="margin-left: 40px; width: 120px; height: auto;">
    
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; ">
        CONTACTANOS VIA FACEBOOK:
    </h2>

    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px;" >
        Utiliza la opción de Facebook Messenger.
    </h2>

    <div class="espacio-extra"></div>
    <img src="/imagenes/telefn.jpg" class="card-img-top" alt="..." style="margin-left: 40px; width: 120px; height: auto;">
    
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; ">
        (1) 6432094
    </h2>
