@{
    Layout = "_Layout";
}

<body>
    <!-- Navigation -->


    <div class="espacio-vertical"></div>
    <h2 class="hola" style="font-family: 'Arial', sans-serif; font-weight: 10; font-size: 45px;     ; animation: moverTexto 10s linear infinite;">
        CONTACTENOS
    </h2>

    <div class="line4"></div>
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 40px; font-weight: 10; font-size: 20px; color: #000000;">
        Servicio disponible de Lun - Vie: 9:00 AM a 9:00 PM y Sab: 10:00 AM a 6:00 PM
    </h2>

    <div class="espacio-extra"></div>
    <img src="/img/wsp.png" class="card-img-top" alt="..." style="margin-left: 40px; width: 120px; height: auto;">
    
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; color: #000000;">
        WHATSAPP:
    </h2>

    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; color: #000000;">
        Añade +51 913 503 592 a la lista de contactos en tu smartphone y comunícate con nosotros.
    </h2>

    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; color: #000000;">
        Si necesitas ayuda a través de WhatsApp, por favor comunícate con nosotros al número +51 913 503 592.
    </h2>

    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; color: #000000;">
        Recuerda que adidas nunca iniciará la comunicación ni te buscará por este canal, solamente responderemos a tus mensajes.
    </h2>

    <div class="espacio-extra"></div>
    <img src="/img/fb.png" class="card-img-top" alt="..." style="margin-left: 40px; width: 120px; height: auto;">
    
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; color: #000000;">
        CONTACTANOS VIA FACEBOOK:
    </h2>

    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; color: #000000;">
        Utiliza la opción de Facebook Messenger.
    </h2>

    <div class="espacio-extra"></div>
    <img src="/img/FONO.png" class="card-img-top" alt="..." style="margin-left: 40px; width: 120px; height: auto;">
    
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: 10; font-size: 20px; color: #000000;">
        (1) 6432094
    </h2>

    <div class="espacio-extra"></div>
    <h2 class="hola" style="font-family: 'Arial', sans-serif; margin-left: 180px; font-weight: bold; font-size: 35px; color: #000000;">
        PREGUNTAS FRECUENTES
    </h2>
    <div class="container">
        <div class="texto-izquierda" style="color:rgb(0, 0, 0);">
            <p style="font-weight: bold;">¿DONDE ESTÁ MI ORDEN?</p> 
            Inicie sesión o ingrese los detalles de su pedido en el rastreador de pedidos para ver el resumen de su pedido. Desde allí, puede cancelar artículos, realizar un seguimiento del estado de la entrega u organizar un cambio o una devolución.
        </div>
        <div class="texto-derecha" style="color:rgb(0, 0, 0);">
            <p style="font-weight: bold;">¿AÚN NO ENCUENTRAS TU RESPUESTA?</p>
            PREGUNTALE A NUESTRO SERVICIO AL CLIENTE: Lun - Vie: 9:00 AM to 9:00 PM | Sab: 10:00 AM to 6:00 PM | Teléfono: 913 503   592
        </div>
    </div>

    <div class="espacio-vertical"></div>
    <footer class="py-5 custom-footer" style="background-color: #cdc6eb; margin-bottom: -50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 style="color: rgb(0, 0, 0);">Acerca de SNEAKER WEST</h5>
                    <p style="color: rgb(0, 0, 0);">El proyecto en colaboración con la empresa Sneaker West S.A. busca desarrollar una aplicación web para la venta de zapatillas de marcas reconocidas...</p>
                </div>
                <div class="col-md-4">
                    <h5 style="color: rgb(0, 0, 0);">Más Información</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" style="color: rgb(0, 0, 0);">Políticas privadas</a></li>
                        <li><a href="#" style="color: rgb(0, 0, 0);">Términos de servicio</a></li>
                        <li><a href="#" style="color: rgb(0, 0, 0);">Envío</a></li>
                        <li><a href="#" style="color: rgb(0, 0, 0);">Guía de tallas</a></li>
                        <li><a href="#" style="color: rgb(0, 0, 0);">Contacto</a></li>                         
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 style="color: rgb(0, 0, 0);">Boletín Informativo</h5>
                    <p style="color: rgb(0, 0, 0);">Suscríbete para recibir actualizaciones, acceder a ofertas exclusivas y más.</p>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Introduce tu dirección de correo electrónico">
                        </div>
                        <button type="submit" class="btn btn-primary">Suscribir</button>
                    </form>
                    <div class="text-right">
                        <img src="/img/tpagos.png" alt="Descripción de la imagen" style="width:200px; margin-bottom: 10px;">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>