﻿@{
    ViewData["Title"] = "Pagina";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/home.css"  >
</head>

<body>
<section id="hero">
   <h1>Bienvenidos a SNAKE WEST  <br>nos alegra que estes aquí</h1>
</section>  
<header>
    
 


<body class="slider-3d__body">
    
    <h1 class="slider-3d__title">Ofertas DIARIAS</h1>

    <div class="slider-3d__container">

        <div class="slider-3d__main">
            <input type="radio" name="slider-3d" id="item-1" checked class="slider-3d__input">
            <input type="radio" name="slider-3d" id="item-2" class="slider-3d__input">
            <input type="radio" name="slider-3d" id="item-3" class="slider-3d__input">

            <div class="slider-3d__cards">
                <label class="slider-3d__card" for="item-1" id="selector-1">
                    <img src="imagenes/zap2.jpg" class="slider-3d__img">
                </label>
                <label class="slider-3d__card" for="item-2" id="selector-2">
                    <img src="imagenes/zap5.jpg" class="slider-3d__img">
                </label>
                <label class="slider-3d__card" for="item-3" id="selector-3">
                    <img src="imagenes/zap7.jpg" class="slider-3d__img">
                </label>
            </div>
            
            
        </div>
        
    </div>
   
</body> 

 
</header>

<section id="somos">
    <div class="container">
       <div class="img-container"></div>
       <div class="texto">
          <h2>Somos <span
          class="color-acento">SNAKE WEST</span></h2>
          <p>
          "Somos una empresa dedicada a la comercialización de zapatillas de alta calidad y diseño innovador, satisfaciendo las necesidades y expectativas de nuest ros clientes. Nos enfocamos en ofrecer productos que combinan estilo, comodidad y durabilidad, mientras mantenemos un compromiso con la sostenibilidad en todas nuestras operaciones. Buscamos consolidarnos como líderes en el sector del calzado, expandiendo nuestra presencia en nuevos mercados y fortaleciendo nuestras relaciones con clientes y socios comerciales para lograr un crecimiento rentable y sostenible a largo plazo."</p>
        </div>
    </div>

</section>

 <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
</script>  


<script src="~/js/chatbot.js"></script>  
  

<script>
    let current = 1;
    const total = 3;

    setInterval(() => {
        document.getElementById(`item-${current}`).checked = false;
        current = current % total + 1;
        document.getElementById(`item-${current}`).checked = true;
    }, 1500);
</script>

  

</body>